/ tobechange // !important save indexC.sliml to validate change
-$url = "https://www.tempsl.fr/fr/"

-$txtBtn  = ["Les idées pour l’automne, c’est ici !",""]
-$linkRay = "#{$url}boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id=#{$objso['id']['fr']}"

-$ga_ray_btn  = "ga('local.send', 'event', 'EncartHP', '"+$objso['projectname']+"-btn_id-"+$objso['id']['fr']+"', document.location.pathname);"

-$styleIE = '<!--[if lte IE 9]> <style type="text/css"> .pck3{top: 10px;} .title-pck3, .sub1-pck3, .sub2-pck3{left: 690px;} </style> <![endif]-->'