/ tobechange // !important save indexC.sliml to validate change
-$url = "https://www.ideal-praktijk.nl/nl/"

-$txtBtn  = ["Ontdek alle selectie",""]
-$linkRay = "#{$url}boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id="+$objso['id']['nl']

-$ga_ray_BG  = "ga('local.send', 'event', 'EncartHP', '"+$objso['projectname']+"-BG_id-"+$objso['id']['nl']+"', document.location.pathname);";
-$ga_ray_btn  = "ga('local.send', 'event', 'EncartHP', '"+$objso['projectname']+"-btn_id-"+$objso['id']['nl']+"', document.location.pathname);";

-$styleIE = '<!--[if lte IE 9]> <style type="text/css"> .pck3{top: 10px;} .title-pck3, .sub1-pck3, .sub2-pck3{left: 690px;} </style> <![endif]-->'